/* Reset de margens, bordas e padding */
* {
    margin: 0;
    border: 0;
    padding: 0;
}

#Nome_logo{
    text-align: center;
    color: #000;
    font-size: larger;
}
#titulo {
    font-family: Montserrat;
    font-size: 50px;
    color: black;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 210px;
    margin-right: 15px;
    text-align: left;
}

#abertura{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #000;
    margin-top: 15px;
    padding-bottom: 10px;
    margin-left: 210px;
    padding-right: 30px;
    text-align: justify;
}
/* Barra lateral fixa à direita */
.barra_lateral {
    position: fixed;
    top: 0;
    left: 0;
    width: 150px;
    height: 100%;
    background-color: #3CB371;
    padding: 20px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    z-index: 100; /* Garante que a barra lateral esteja acima de outros elementos */
    overflow-y: auto; /* Adiciona rolagem se necessário */
}

/* Estilização da barra lateral */
.barra_lateral ul {
    list-style-type: none;
    padding: 0;
}

.barra_lateral ul li {
    margin-bottom: 30px;
}

.barra_lateral ul li a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 1px;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-size: 20px; /* Aumenta o tamanho da fonte para 20 pixels */
    font-weight: bold; /* Torna o texto em negrito */
}

.barra_lateral ul li a:hover {
    background-color: #ddd;
}

/* Estilização da barra lateral */
.barra_lateral ul li {
    margin-bottom: 30px;
    transition: transform 0.3s; /* Adiciona uma transição suave na propriedade transform */
}

/* Adiciona um efeito de destaque ao passar o mouse sobre cada frase */
.barra_lateral ul li:hover {
    transform: translateX(5px); /* Move a frase 5 pixels para a direita */
}

/* Estilização da imagem da logo */
#Imagem_Logo {
    background-color: black;
    text-align: center;
    margin-left: 150px;
}


#leite-de-cabra{
    border-left: 0px;
    margin-left: px;
}
/* Container principal */
.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 150px; /* Largura da barra lateral */
    width: calc(100% - 150px); /* Subtrai a largura da barra lateral */
}


/* Estilos para as colunas de imagem e texto */
.coluna_imagem,
.coluna_texto {
    box-sizing: border-box;
    
}

/* Configuração da coluna de imagem */
.coluna_imagem {
    flex: 0 0 50%; /* Ocupa 50% do espaço disponível */
}

/* Ajuste de imagem */
.coluna_imagem img {
    width: 100%;
    height: auto;
}

/* Configuração da coluna de texto */
.coluna_texto {
    flex: 0 0 50%; /* Ocupa 50% do espaço disponível */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #000;
    text-align: left;
    padding: 0px;
    margin: 0px;
   
}


/* Media Queries para ajustar o layout em dispositivos menores */
@media (max-width: 768px) {
    .coluna_imagem, .coluna_texto {
        flex: 1 1 100%; /* Ocupa 100% do espaço disponível em telas menores */
    }
    
    .coluna_imagem {
        order: 1; /* Ordem da imagem */
    }
    
    .coluna_texto {
        order: 2; /* Ordem do texto */
    }
    
    .content {
        margin-left: 0; /* Remove a margem esquerda em telas menores */
    }
}


     
h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: #000;
    margin-top: 0;
    padding-bottom: 10px;
    margin-left: 210px;
    padding-right: 0;
    text-align:left;  
}        

/* Estilização dos parágrafos */
p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #000;
    margin-top: 15px;
    padding-bottom: 10px;
    margin-left: 210px;
    padding-right: 30px;
    text-align: justify;
}

/* Estilização dos títulos */
h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: #006400;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 210px;
    margin-right: 15px;
    text-align: left;
}


/* Estilização das listas */
#lista_1,
#lista_2 {
    padding: 0; /* Remove o preenchimento padrão */
    margin-left: 230px; /* Adiciona margem à esquerda para acomodar a barra lateral */
    margin-right: 30px;
    margin-bottom: 6px; /* Espaçamento entre os itens da lista */
    font-size: 20px; /* Tamanho da fonte */
    color: #000; /* Cor do texto */
}

/* Cor do texto do botão */
.topico {
    color: #000; /* Cor do texto preto */
    background-color: transparent; /* Fundo transparente */
}

/* Estilização dos itens da lista */
#lista_1 li,
#lista_2 li {
    border: 1px solid #ccc; /* Exemplo: definindo uma borda ao redor dos itens da lista */
    padding: 8px;
    border-radius: 2px;
}

/* Cor de fundo quando o item da lista é hover */
#lista_1 li:hover,
#lista_2 li:hover {
    background-color: #3CB371;
}


.social-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0px; /* Reduzir o espaço entre os itens */
}

.social-item {
    text-align: center;
}

#instagram img,
#whatsapp img {
    border-radius: 8px; /* Adicionar bordas arredondadas apenas para as imagens */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Adicionar transição suave */
}

#instagram, #whatsapp {
    background-color: black;
    display: inline-block;
    text-align: center;
    margin-left: -310px; /* Ajustar a margem à esquerda */
    border-radius: 8px; /* Adicionar bordas arredondadas */
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5); /* Adicionar sombra mais escura */
}

#instagram:hover img,
#whatsapp:hover img {
    transform: scale(1.1); /* Aumentar a escala da imagem */
}

#instagram:hover, #whatsapp:hover {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7); /* Alterar sombra quando o mouse passar */
}

#insta, #zap {
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    margin-top: 10px; /* Ajuste o espaçamento vertical entre a imagem e o texto */
    margin-left: 800px; /* Ajustar a margem à esquerda */
}





/* Estilização do rodapé */

.smarf {
    font-family: Arial, Helvetica, sans-serif;
    color: #ddd;
    background-color: #000;
    text-align: center;
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
}

#text_1 {
    font-size: 10px;
    margin-left: 140px;
}

#text_2 {
    font-size: 16px;
    margin-left: 140px
}

#text_3 {
    font-size: 10px;
    margin-left: 140px
}