/* Reset de margens, bordas e padding */
* {
    margin: 0;
    border: 0;
    padding: 0;
}

#Nome_logo{
    text-align: center;
    color: #000;
    font-size: larger;
}
#titulo {
    font-family: Montserrat;
    font-size: 50px;
    color: black;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 210px;
    margin-right: 15px;
    
}
nav {
    text-align: right; /* Alinha o conteúdo do nav à direita */
    background-color:black; /* Cor de fundo */
    padding: 10px 20px; /* Espaçamento interno */
    text-shadow: #000;

}

nav a {
    text-decoration: none; /* Remove sublinhado do link */
    color: white; /* Cor do texto */
    margin-left: 15px; /* Espaçamento entre links */
}

nav a:hover {
    text-decoration: underline; /* Sublinhado ao passar o mouse */
}


.mensagem-boas-vindas {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #000;
    margin-top: 15px;
    padding-bottom: 10px;
    margin-left: 210px;
    padding-right: 30px;
    text-align: justify;
}
/* Barra lateral fixa à esquerda */
.barra_lateral {
    position: fixed;
    top: 0;
    left: 0;
    width: 190px; /* Aumenta a largura para 190px */
    height: 100%;
    background-color: #5BFA37;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    z-index: 100; /* Garante que a barra lateral esteja acima de outros elementos */
    display: flex;
    flex-direction: column;
    padding: 0; /* Remove o padding geral */
}

.conteudo {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.barra_lateral ul {
    list-style-type: none;
    padding: 20px 10px 10px 10px; /* Ajusta o padding para distanciar do topo */
    margin: 0;
    flex: 0 1 80%; /* 80% da altura */
    overflow-y: hidden; /* Remove a barra de rolagem */
}

.barra_lateral .imagem {
    flex: 0 1 20%; /* 20% da altura */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #5BFA37; /* Mesma cor de fundo da barra lateral */
}

.barra_lateral .imagem img {
    max-width: 100%;
    max-height: 100%;
}

/* Estilização dos itens da lista */
.barra_lateral ul li {
    margin-bottom: 20px; /* Aumenta a distância entre os itens */
    border-bottom: 1px solid #2E8B57; /* Adiciona uma linha de divisão verde escura */
    padding-bottom: 10px; /* Adiciona um espaço adicional na parte inferior */
    transition: transform 0.3s; /* Adiciona uma transição suave na propriedade transform */
}

.barra_lateral ul li:last-child {
    border-bottom: 1px solid #2E8B57; /* Mantém a linha de divisão no último item */
}

.barra_lateral ul li a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 10px; /* Ajusta o padding para melhor aparência */
    transition: background-color 0.3s, transform 0.3s;
    font-size: 18px; /* Aumenta o tamanho da fonte para 18px */
    font-weight: bold; /* Torna o texto em negrito */
}

/* Estilo ao passar o mouse */
.barra_lateral ul li a:hover {
    background-color:white;
}

/* Adiciona um efeito de destaque ao passar o mouse sobre cada item */
.barra_lateral ul li:hover {
    transform: translateX(7px); /* Move o item 10 pixels para a direita */
}
#Imagem_Logo {
    background-color: black;
    text-align: center;
    margin-left: 150px;
}


#leite-de-cabra{
    border-left: 0px;
    margin-left: 0px;
    margin-top: 0px;
    padding-top: 0px;
}

/* Container principal */
.content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    margin-left: 150px; /* Largura da barra lateral */
    width: calc(100% - 150px); /* Subtrai a largura da barra lateral */
    padding-right: 0px; /* Garante borda lateral direita de 5px */
}

/* Estilos para as colunas de imagem e texto */
.coluna_imagem,
.coluna_texto {
    box-sizing: border-box;
}

/* Configuração da coluna de imagem */
.coluna_imagem {
    grid-column: 1;
}

/* Ajuste de imagem */
.coluna_imagem img {
    width: 100%;
    height: auto;
}

/* Configuração da coluna de texto */
.coluna_texto {
    grid-column: 2;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #000;
    text-align: left;
    padding: 0px;
    margin: 0px;
    margin-right: 26px;
}

/* Media Queries para ajustar o layout em dispositivos menores */
@media (max-width: 1000px) {
    .content {
        grid-template-columns: 1fr;
        margin-left: 0; /* Remove a margem esquerda em telas menores */
        padding-left: 210px; /* Adiciona padding para respeitar a barra lateral fixa */
       
    }
    
    .coluna_imagem {
        grid-column: 1;
        order: 1; /* Ordem da imagem */
        padding-right: 0px; 
        margin-right: 87px;
    }
    
    .coluna_texto {
        grid-column: 1;
        order: 2; /* Ordem do texto */
        padding-right: 0px; 
        margin-right: 87px;
    }
}

/* Estilos específicos para elementos dentro de .coluna_texto */
.coluna_texto h1 {
    margin-left: 1px;
    padding: 0px;
}

.coluna_texto h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: #000;
    margin-top: 0;
    padding-bottom: 10px;
    padding-right: 0;
    text-align: left;
}

.coluna_texto p {
    margin-left: 1px;
    padding: 0px;
}



/* Estilização dos parágrafos */
p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #000;
    margin-top: 15px;
    padding-bottom: 10px;
    margin-left: 210px;
    padding-right: 30px;
    text-align: justify;
}

/* Estilização dos títulos */
h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: #006400;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 210px;
    margin-right: 15px;
    text-align: left;
}


/* Estilização das listas */
#lista_1,
#lista_2 {
    padding: 0; /* Remove o preenchimento padrão */
    margin-left: 230px; /* Adiciona margem à esquerda para acomodar a barra lateral */
    margin-right: 30px;
    margin-bottom: 6px; /* Espaçamento entre os itens da lista */
    font-size: 20px; /* Tamanho da fonte */
    color: #000; /* Cor do texto */
}

/* Cor do texto do botão */
.topico {
    color: #000; /* Cor do texto preto */
    background-color: transparent; /* Fundo transparente */
}

/* Estilização dos itens da lista */
#lista_1 li,
#lista_2 li {
    border: 1px solid #ccc; /* Exemplo: definindo uma borda ao redor dos itens da lista */
    padding: 8px;
    border-radius: 2px;
}

/* Cor de fundo quando o item da lista é hover */
#lista_1 li:hover,
#lista_2 li:hover {
    background-color: #3CB371;
}

input{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    padding: 5px;
    border: solid;
    border-radius: 10px;
    /*
    padding-left: 1%;*/
}

label{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin-left: 0px;

}

        .subtopico {
            display: none;
        }
        .subtopico.active {
            display: block;
        }
        
/* Container principal */
.social-media-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Duas colunas */
    grid-template-rows: repeat(2, auto); /* Duas linhas */
    gap: 10px; /* Espaço entre os itens */
    margin-left: 150px; /* Ajustar conforme necessário */
    width: calc(100% - 150px); /* Subtrai a largura da barra lateral */
    padding-right: 5px; /* Borda lateral direita de 5px */
}

/* Container principal */
.social-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Duas colunas */
    grid-template-rows: repeat(2, auto); /* Duas linhas */
    gap: 10px; /* Espaço entre os itens */
    margin-left: 150px; /* Ajustar conforme necessário */
    width: calc(100% - 150px); /* Subtrai a largura da barra lateral */
    padding-right: 5px; /* Borda lateral direita de 5px */
}

/* Estilos para os ícones */
.instagram-icon,
.whatsapp-icon {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Ajuste de ícones */
.instagram-icon img,
.whatsapp-icon img {
    width: 50px; /* Ajuste conforme necessário */
    height: auto;
}

/* Estilos para os textos */
.instagram-text,
.whatsapp-text {
    box-sizing: border-box;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #000;
}

/* Configuração das áreas do grid */
.instagram-icon {
    grid-column: 1;
    grid-row: 1;
}

.whatsapp-icon {
    grid-column: 2;
    grid-row: 1;
}

.instagram-text {
    grid-column: 1;
    grid-row: 2;
}

.whatsapp-text {
    grid-column: 2;
    grid-row: 2;
}

/* Media Queries para ajustar o layout em dispositivos menores */
@media (max-width: 1000px) {
    .social-container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, auto); /* Quatro linhas para itens em uma coluna */
        margin-left: 0; /* Remove a margem esquerda em telas menores */
        padding-left: 210px; /* Adiciona padding para respeitar a barra lateral fixa */
        padding-right: 5px; /* Garante borda lateral direita de 5px */
    }

    .instagram-icon {
        grid-column: 1;
        grid-row: 1;
    }

    .whatsapp-icon {
        grid-column: 1;
        grid-row: 2;
    }

    .instagram-text {
        grid-column: 1;
        grid-row: 3;
    }

    .whatsapp-text {
        grid-column: 1;
        grid-row: 4;
    }
}


/* Estilização do rodapé */

.smarf {
    font-family: Arial, Helvetica, sans-serif;
    color: #ddd;
    background-color: #000;
    text-align: center;
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
}

#text_1 {
    font-size: 10px;
    margin-left: 140px;
}

#text_2 {
    font-size: 16px;
    margin-left: 140px
}

#text_3 {
    font-size: 10px;
    margin-left: 140px
}